@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="top: 50%; left: 50%; position: absolute; margin: -200px 0 0 -320px; ">
    <div class="row">
        <div class="col-lg-8 text-center">
            <div style="margin-bottom:15px;">
                <img src="~/Images/logo.png" />
            </div>
            <div class="input-group">
                <input type="text" id="SearchVal" class="form-control" name="SearchVal">
                <span class="input-group-btn">
                    <button id="btn_search" class="btn btn-primary" onclick="search()" type="button">&nbsp;&nbsp;搜&nbsp;&nbsp;索&nbsp;&nbsp;</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>
<script>
    function search() {
        var val = $("#SearchVal").val();
        if (val == "")
            return false;
        location.href = "/Home/SearchResult?searchType=1&searchVal=" + val;
    }
</script>
