@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        font-family: 'Microsoft YaHei';
        font-size: 12px;
    }

    .rowdiv {
        padding: 5px;
    }
</style>
<form id="medical" method="POST">
    <div class="rowdiv">
        <label>姓名：</label><input name="Patient" type="text" class="easyui-textbox" style="width:200px;height:30px;" />
    </div>
    <div class="rowdiv">
        <label>性别：</label>
        <select class="easyui-combobox">
            <option value="0">女</option>
            <option value="1">男</option>
        </select>
    </div>
    <div class="rowdiv">
        <label>年龄：</label><input name="Age" type="text" class="easyui-numberbox " style="width:60px;height:30px;" />
    </div>
    <div class="rowdiv">
        <label>诊断：</label><input name="Diagnose" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:200px;" />
    </div>
    <div class="rowdiv">
        <label>治疗：</label><input name="Treatment" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:200px;" />
    </div>
    <div class="rowdiv">
        <label>电话：</label><input name="Contract" class="easyui-textbox" style="width:200px;height:30px;" />
    </div>
    <div class="rowdiv">
        <label>处方：</label><input name="Prescription" class="easyui-textbox" data-options="multiline:true" style="width:500px;height:200px;" />
    </div>
</form>
<div class="rowdiv">
    <a id="a_submit" href="javascript:void(0)" onclick="submitForm()" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
</div>
<div id="div_msg" class="easyui-dialog" title="提示" style="width:300px;height: 130px;padding:20px 0 10px 20px; " data-options="modal:true,cache:false,closed:true,
     buttons:[{
            text:'返回列表',
            handle:function(){backList();}
        },{
            text:'继续添加',
            handle:function(){againAdd();}
        }]">
    <span id="msg" style="padding:10px;"></span>
</div>
<script>
    function submitForm() {
        $("#medical").form('submit', {
            url: "/Medical/Save",
            success: function (data) {
                var result = jQuery.parseJSON(data);
                if (result.ResultType != 0) {
                    $.messager.alert("提示", result.Message, "error");
                } else {
                    $("#msg").html(result.Message);
                    $("#div_msg").dialog("open");
                }
                
            }
        });
    }

    function backList() {
        alert("dd");
        window.parent.addTab('病历列表', '/Medical/index');
    }

    function againAdd() {
        alert("dd");
        window.parent.addTab('添加病历', '/Medical/Add');
    }
</script>